In [2]:
import sqlite3

In [3]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [6]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

create_table = """CREATE TABLE classroom1(
                student_ID INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                )"""
cursor.execute(create_table)

connection.commit()

connection.close()

In [13]:
classroom_data = [(11, "Raj", "M", 70, 84, 92), 
                  (12, "Poonam", "F", 80, 87, 84),
                  (13, "Nik", "M", 78, 87, 89),
                  (14, "PC", "F", 90,98, 87)]

connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

for student in classroom_data:
    insert_statement = """INSERT INTO classroom1  
                            VALUES ({0},"{1}","{2}",{3},{4}, {5});""".format(student[0],student[1], student[2], student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
connection.commit()
connection.close()

In [14]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()

query = "select * from classroom1"

cursor.execute(query)

result = cursor.fetchall()
for row in result:
    print(row)

connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 80, 87, 84)
(3, 'Nik', 'M', 78, 87, 89)
(4, 'PC', 'F', 90, 98, 87)
(11, 'Raj', 'M', 70, 84, 92)
(12, 'Poonam', 'F', 80, 87, 84)
(13, 'Nik', 'M', 78, 87, 89)
(14, 'PC', 'F', 90, 98, 87)